@page "/payment"
@inject NavigationManager NavManager

<PageTitle>Payment</PageTitle>

<h1>Payment</h1>

<p role="status">Payment</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<a href="/api/payment">Back to main page</a>
@code {
    private void IncrementCount()
    {
        NavManager.NavigateTo("/Callback/payment");
    }
}
