@page "/error"
@inject NavigationManager NavManager
@inject Aiia.FrontEnd.Data.LoginService TokenService

<div class="content px-4">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <p>
        <strong>Try again later</strong>
               
    </p>
    <input type="button" class="btn btn-primary" @onclick="IncrementCount" value="Return to Main Page"/>

</div>

@code {
    private async Task IncrementCount()
    {
        await TokenService.SignOut();
        NavManager.NavigateTo("/");
    }
}