@page "/"

<PageTitle>Index</PageTitle>

@using Aiia.FrontEnd.Data
@inject LoginService LoginService

<h1>Main Page</h1>

<p>in this page you'll see your log in status.</p>

@if (isLoged)
{
<p style="background-color: lightgreen"><em>You are In</em></p>
<input type="button" value="Sign out" @onclick="SignOut" />
}
else
{
    <p style="background-color: indianred"><em>You are not loged in</em></p>
    if (!string.IsNullOrEmpty(aiiaLoginUrl))
    {
        <input type="button" value="Sign In" onclick="location.href = '@aiiaLoginUrl'"/>
    }
}

@code {
    private bool isLoged;
    private string aiiaLoginUrl;

    protected override async Task OnInitializedAsync()
    {
        aiiaLoginUrl = await LoginService.SignInUrl();
         isLoged = await LoginService.IsLoged();
    }

    private async Task SignOut()
    {
        isLoged = await LoginService.SignOut();
    }
}
